extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let hensid = toShow._id
    - let hensname = toShow.hensname
    - let habitat = toShow.habitat
    - let classification = toShow.classification
    - let price = toShow.price
    - let actionid = "/resource/hens/" + hensid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='hensAttr mr-3') hens ID is:
        div #{hensid}
      div.row
        div(class='hensAttr mr-3') hens name is:
        div #{hensname}
      div.row
        div(class='hensAttr mr-3') habitat:
        div #{habitat}
      div.row
        div(class='hensAttr mr-3') classification:
        div #{classification}
      div.row
        div(class='hensAttr mr-3') price:
        div #{price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the hens collection
      window.location.href='/henss'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/henss'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }

      
  


