extends layout

block content
  h1= title
  - let hens= results
  div(class="container-fluid mt-3")
  div(class="row")
    each hens,index in hens
      div(class="col-sm-4 m-1 p-3" style=("font-weight:bolder") onclick=`buy(${index})`) #{hens.hensname} - #{hens.habitat} - #{hens.classification} - #{hens.price}
  script.
    function buy(itemNo)
    {
      alert(`You purchased Item ${itemNo+1}`)
    }