extends layout

block content
  h1= title
  - let hens= results

  div(class="container-fluid")
    div(class="row m-1")
    each hen in hens
     - let destination = `dispatch(\"/hens/update?id=${hens._id}\")`
     div(class="row-sm-2", class="m-1") Hen #{hen.henname}(#{hen.habitat}) is #{hen.classification} #{hen.price}
     button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
     window.location.href=path
    }