
block content
  h1= title
  - let hensid = toShow._id
  - let hensname = toShow.hensname
  - let habitat = toShow.habitat
  - let classification = toShow.classification
  - let price = toShow.price
  - let actionid = "/resource/resource/hens/" + hensid
  form(id='henssForm', action=actionid, method="DELETE")
 
    div
        div.row
            div(class='hensAttr mr-3') henss ID is:
            div #{henssid}
        div.row
            div(class='hensAttr mr-3') hens name is:
            div #{hensname}
        div.row
            div(class='hensAttr mr-3') habitat is:
            div #{habitat}
        div.row
            div(class='hensAttr mr-3') classification is:
            div #{classification}
        div.row
            div(class='hensAttr mr-3') price is:
            div #{price}
        input(type="submit")
  script.
    document.forms['hensForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
          method: 'DELETE',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
          alert("Deleted successfully")
          // TODO handle body
      }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error )
      });    
    });